.box {
  border: 1px solid;
  width: 700px;
  height: 400px;
  background-color: #fdfdfd;
  border-radius: 10px;
  position: relative;
  left: 286px;
  top: 114px;
  transition: 0.3s;
}

.box:hover{
transform: translateY(-7px);
}

.bar{
  height: 400px;
  width: 100px;
  background-color: #e9fde1;
  border-radius: 10px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.btn{
  margin: 0px 0px 20px 10px;
  width: 75px;
  height: 25px;
  border-radius: 9px;
  border: 1px solid;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.54);
  background-color: #dbfdc7;
}

.btn:hover{
  background-color: #e9fde1;
}

.logo{
  margin: 10px 0px 30px 10px;
  width: 75px;
  height: 75px;
}

.icon-logout{
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  margin: 0px 10px 10px 0px;
  bottom: 10%;
  background-image: url("/assets/icons/icon-logout.png");
  transition: 0.5s;
}

.icon-logout:hover{
  transform: translateY(-6px);
  background-image: url("/assets/icons/icons-logout.gif");
}